@charset "UTF-8";

html{
    font-size: 100%;
}
body{
    color:#383e45;
    font-size: 0.9rem;
}
a{
    /* リンクに下線が表示されない設定 */
  text-decoration: none;
}
img{
    max-width: 100%;
}
li{
    list-style: none;
}

/*
line-height にh1タグの高さよりも小さい値「1px」を指定することで、
h1タグの上下の余白が消えるため、ロゴ画像の高さと揃う
「line-height: 0;」を指定してもOK
*/
.site-title{
    width: 120px;
    line-height: 0;
    padding: 10px 0;
}
.site-title a {
    display: block;
}

/*h2タグ*/
.section-title{
    display: inline-block;
    font-size: 2rem;
    text-align: center;
    margin-bottom: 60px;
    border-bottom: solid 1px #383e45;
}
/*h3タグ*/
.content-title{
font-size: 1rem;
margin: 10px 0;
}

.wrapper{
    max-width: 960px;
    margin: 0 auto 100px auto;
    padding: 0 4%;
    text-align: center;
}

#header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
}
#header ul{
    display: flex;
    padding: 10px 0;
}
#header li{
    margin-left: 30px;
}
#header li a{
    color: #24292e;
}
#header li a:hover{
    opacity: 0.7;
}

#mainvisual{
    margin-bottom: 80px;
}
#mainvisual img{
    width: 100%;
    max-width: 1920px;
    height: 600px;
    object-fit: cover;   /* 横幅は画面サイズにあわせて伸縮します */
}

 /*　画面サイズが600pxまでのときは以下を読み込む　*/
 @media screen and (max-width: 600px) {
    #mainvisual img{
        height: calc(100vh - 60px); /* 画像の高さをブラウザ下いっぱいまで広げます */
        /* 100vh:画面の縦幅いっぱいの高さ。このままだとヘッダーの高さの分（60px）だけ */
        /* 画面下にはみだしてしまうので -60pxすることで、画面下ちょうどでおさまるようにしている。 */
    }
}

#about .content{
    display: flex;
    justify-content: center;
    align-items: center;
}
#about img{
    width: 100px;
    height: 100px;
    border-radius: 50%;
    margin-right: 30px;
}
#about .text{
    text-align: left;
}

@media screen and (max-width:600px){
    #about .content{
        flex-direction: column; /* 画像とテキストを縦並びに配置します */
    }
    #about img{
        margin-right: 0;
    }
}

#photos ul{
    display: flex; /* 横並び */
    justify-content: space-between; /* 両端揃え */
}
#photos li{
    width: 32%;
}

#footer{
    font-size: 0.5rem;
    padding: 10px 0;
    text-align: center;
}